.easteregg {
	position: absolute;
	bottom: 1px;
	left: 10px;
<<<<<<< HEAD
}

.revisions.timeline .revisions-diff {
	display: none;
}

.revisions.timeline .revisions-timeline {
	display: inline;
}

.revisions .revisions-timeline {
	display: none;
=======
>>>>>>> fb0b76000622b8d1487675fbaf1511dafc16ea4e
}