.easteregg {
	position: absolute;
	bottom: 1px;
	left: 10px;
}

.revisions.timeline .revisions-timeline {
	display: inline;
}

.revisions .revisions-timeline {
	display: none;
	position: absolute;
	top: 166px;
	right: 15px;
	background-color: #fff;
	padding: 10px;
	font-size: 1.1em;
	line-height: 150%;
	min-width: 50px;
}

.revisions.pinned .revisions-timeline {
	position: fixed;
	top: 126px;
}

.revisions-timeline-title {
	font-weight: bold;
	font-size: 1.2em;
}
